[Unit]
Description=Sympa
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=/usr/lib/cgi-bin/sympa/wwsympa-wrapper.fcgi
StandardInput=socket

[Install]
WantedBy=multi-user.target
