[Unit]
Description = WWSympa - Web interface for Sympa mailing list manager (service)
After = syslog.target

[Service]
User=__APP__
Group=__APP__
ExecStart = /usr/lib/cgi-bin/sympa/wwsympa-wrapper.fcgi
StandardOutput = null
StandardInput = socket
StandardError = null
Restart=on-failure

[Install]
WantedBy = multi-user.target